In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series?
Ans1. import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it?
Ans2. import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.
Ans3. import pandas as pd

data = {
    'name': ['Alica', 'Bob', 'Claire',],
    'age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example?
Ans4. In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.
A Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a list or an array in Python, but with extra functionality such as indexing, alignment, and statistical operations.

import pandas as pd

data = {
    'name': ['John', 'Emma', 'Mark', 'Rachel'],
    'age': [25, 30, 22, 27],
    'country': ['USA', 'Canada', 'UK', 'Australia']
}
df = pd.DataFrame(data)

ages = pd.Series([25, 30, 22, 27])


print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Ans5. There are numerous functions in Pandas that can be used to manipulate data in a DataFrame. Some common functions include:

head(): Returns the first n rows of a DataFrame. Useful for quickly previewing the data.
df.head(10) 

tail(): Returns the last n rows of a DataFrame. Useful for quickly checking the data at the end.
df.tail(10) 

drop(): Drops specified labels from rows or columns. Useful for removing unwanted data.
df.drop('column_name', axis=1, inplace=True)

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans6. Both Series and DataFrame are mutable in nature, which means that their values can be modified after they have been created.

However, Panel is an immutable data structure in Pandas, which means that it cannot be modified after it has been created. Panel is a three-dimensional data structure and is generally not recommended for most data analysis tasks. Instead, it is recommended to use the more commonly used Series and DataFrame data structures.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example?
Ans7. import pandas as pd

# Create two Series with data
names = pd.Series(['Alice', 'Bob', 'Charlie', 'Dave'])
ages = pd.Series([25, 30, 35, 40])

# Create a DataFrame using the two Series
df = pd.DataFrame({'Name': names, 'Age': ages})

print(df)